<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>LSMinimumSystemVersion</key>
		<string>12.0.0</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>fr_FR</string>
		<key>CFBundleDisplayName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fr.fabrique.social.gouv.passemploi</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>https</string>
			<string>http</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>$(LAUNCH_SCREEN_STORYBOARD)</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>ITSAppUsesNonExemptEncryption</key>
		<false />
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>UIStatusBarHidden</key>
		<false />
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
		<key>NSCameraUsageDescription</key>
		<string>Our app uses the camera to capture photos and send them to your advisor.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Allow microphone access for recording sounds on videos you take for your advisor.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Allow photo access to send photos to your advisor in the chat.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>This app uses speech recognition to transcribe your voice into text for better
			interaction with your advisor.</string>
	</dict>
</plist>